/* the body where the we put the font family, size and the overall base and keeping the fonts in the center */
body {
  font-family: Garamond, serif;
  background-color: #ffe4ec; 
  text-align: center;
  margin: 0;
  padding: 0;
}
/* the first container where the outline has been made and changed the background of the container  */
.container,
.containerTwo {
  background: #f3a2be;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 50px auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4a4a4a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
  font-weight: normal;
}
/* just the place where the user will input */
input {
    width: 80%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
    background: #c6e6e3;
  color: #6d6875;
  padding: 10px 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

}

p {
    font-size: 18px;
  margin-top: 15px;
  padding: 10px;
  background: #ffd3dd;
  display: inline-block;
  border-radius: 5px;
}

button:hover {
  background-color: #b4dede;
  color: #495057;
}
